.container{
    margin: auto;
    width: 1180px;
    position: relative;
}

.copertina{
    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;
    height: 200px;
}

.copertina > img{
    width: 15%;
}

h3,h5{
    color: gray;
}

.blue{
    color: #4ea0ff;
}

.text{
    background-color: yellow;
}

.title{
    background-color: #4ea0ff;
}

.row-color{
    background-color: lightblue;
}

.imagefooter1{
    width: 150px;
    height: 150px;
    background-image: url('../img/monitor.jpg');
    background-size: cover;
    color: white;
}

.imagefooter2{
    width: 150px;
    height: 150px;
    background-image: url('../img/graph.jpg');
    background-size: cover;
    color: white;
}