.container{
    margin: auto;
    width: 1180px;
    position: relative;
}

.copertina{
    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;
    height: 200px;
}

.copertina > img{
    width: 15%;
}

.blue{
    color: #4ea0ff;
}

.text{
    background-color: yellow;
}

.title{
    background-color: #4ea0ff;
}

.row-color{
    background-color: lightblue;
}