*{
    margin: auto;
    box-sizing: border-box;
}

.copertina{
    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;
    height: 200px;
    position: relative;
}

.copertina > img{
    width: 15%;
    position: absolute;
    left: 0;
    bottom: 10%;
}

.blue{
    color: #4ea0ff;
}

.text{
    background-color: yellow;
}